.mat-card-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	margin: 0 24px 24px;
}

.mat-card-item {
	max-width: 350px;
}

.properties-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 24px;
	padding: 24px;
}

h1 {
	margin: 0;
	flex: 3;
}