<mat-tab-group dynamicHeight>
	<mat-tab [formGroup]="login" label="Login">
		<form mat-dialog-content>
			<mat-form-field>
				<mat-label>Enter your username</mat-label>
				<input autocomplete="username" formControlName="username" matInput/>
				<mat-icon matPrefix>account_circle</mat-icon>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Enter your password</mat-label>
				<input autocomplete="current-password" formControlName="password" matInput type="password"/>
				<mat-icon matPrefix>key</mat-icon>
			</mat-form-field>

			<mat-dialog-actions>
				<button mat-dialog-close mat-stroked-button>Cancel</button>
				<button [disabled]="!login.valid" color="primary" mat-dialog-close mat-flat-button>Login</button>
			</mat-dialog-actions>
		</form>
	</mat-tab>

	<mat-tab label="Create account">
		<mat-stepper #stepper labelPosition="bottom" linear="true">
			<mat-step [stepControl]="registerStepOne">
				<form [formGroup]="registerStepOne" mat-dialog-content>
					<ng-template matStepLabel>Account</ng-template>

					<mat-form-field>
						<mat-label>Enter your e-mail</mat-label>
						<mat-icon matPrefix>mail</mat-icon>
						<input formControlName="email" matInput type="email">
						<mat-error
							*ngIf="registerStepOne.get('email')?.invalid && registerStepOne.get('email')?.touched">
							<ng-container *ngIf="registerStepOne.get('email')?.errors?.['required']">
								Email is required.
							</ng-container>
							<ng-container *ngIf="registerStepOne.get('email')?.errors?.['email']">
								Please enter a valid email address.
							</ng-container>
						</mat-error>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Enter your username</mat-label>
						<input autocomplete formControlName="username" matInput>
						<mat-icon matPrefix>account_circle</mat-icon>
					</mat-form-field>

					<mat-form-field>
						<mat-label>Enter your password</mat-label>
						<input autocomplete="new-password" formControlName="password" matInput type="password">
						<mat-icon matPrefix>key</mat-icon>
					</mat-form-field>

					<mat-dialog-actions align="end">
						<button color="primary" mat-flat-button matStepperNext>Next</button>
					</mat-dialog-actions>
				</form>
			</mat-step>
			<mat-step [stepControl]="secondFormGroup" optional>
				<form [formGroup]="secondFormGroup" mat-dialog-content>
					<ng-template matStepLabel>Tell us about yourself</ng-template>
					<mat-form-field>
						<mat-label>Address</mat-label>
						<input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
							required>
					</mat-form-field>
					<div>
						<button mat-button matStepperPrevious>Back</button>
						<button mat-button matStepperNext>Next</button>
					</div>
				</form>
			</mat-step>
			<mat-step>
				<ng-template matStepLabel>Done</ng-template>
				<p>You are now done.</p>
				<div>
					<button mat-button matStepperPrevious>Back</button>
					<button mat-button (click)="stepper.reset()">Reset</button>
				</div>
			</mat-step>
		</mat-stepper>
	</mat-tab>
</mat-tab-group>