<mat-toolbar color="primary">
	<button mat-icon-button aria-label="Example icon-button with menu icon">
		<mat-icon>location_city</mat-icon>
	</button>
	<span>Dutch Student Housing</span>
	<span class="spacer"></span>
	<button mat-icon-button matSuffix aria-label="User" (click)="openLoginDialog()">
		<mat-icon>login</mat-icon>
	</button>
	<button mat-icon-button matSuffix aria-label="Inbox" [matMenuTriggerFor]="inbox">
		<mat-icon matBadge="10" matBadgeColor="warn">inbox</mat-icon>
	</button>
	<button mat-icon-button matSuffix aria-label="Search">
		<mat-icon>search</mat-icon>
	</button>
</mat-toolbar>
<mat-menu #inbox="matMenu" class="inbox-popup" xPosition="before">
	<mat-nav-list class="message-list">
		<div class="inbox-header">
			<h2>Messages</h2>
			<button mat-stroked-button class="view-all-messages">
				View all messages
			</button>
		</div>
		<mat-list-item *ngFor="let item of [1, 2, 3, 4, 5]">
			<img matListItemAvatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="..."
				 matBadge=" ">
			<span matListItemTitle>Laan Corpus den Hoorn 106</span>
			<span matListItemLine>
				Helaas zoeken we alleen mensen die 5k verdienen
			</span>
			<span matListItemMeta>
				<button mat-icon-button matTooltip="Reply">
					<mat-icon>reply</mat-icon>
				</button>
			</span>
		</mat-list-item>
	</mat-nav-list>
</mat-menu>