.header-link {
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
}

.mat-mdc-list-item-meta {
	align-self: center !important;
}

.message-list {
	padding: 6px 0 !important;
}

.inbox-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 16px 16px;
}

h2 {
	margin: 0;
}