<mat-card class="example-card">
	<div class="card-header">
		<mat-card-title>Laan Corpus den Hoorn 106</mat-card-title>
		<mat-card-subtitle>
			<span class="card-city">Groningen</span>
			<mat-divider [vertical]="true"></mat-divider>
			<span class="card-type">Studio</span>
			<mat-divider [vertical]="true"></mat-divider>
			<span class="card-date">Added 4d ago</span>
		</mat-card-subtitle>
	</div>
	<img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
	<mat-card-actions class="card-details">
		<button mat-button matTooltip="Rent">
			<mat-icon>payments</mat-icon>
			€1500
		</button>
		<button mat-button>
			<mat-icon>handyman</mat-icon>
			utilities inc.
		</button>
		<button mat-button matTooltip="Deposit">
			<mat-icon>savings</mat-icon>
			€1500
		</button>
		<button mat-button matTooltip="Surface">
			<mat-icon>grid_on</mat-icon>
			100M²
		</button>
		<button mat-button>
			<mat-icon>chair</mat-icon>
			furnished
		</button>
		<button mat-button matTooltip="Rentable period">
			<mat-icon>event_available</mat-icon>
			01-01-2024 - 01-01-2025
		</button>
	</mat-card-actions>
	<mat-divider></mat-divider>
	<mat-card-actions>
		<button mat-stroked-button>
			<mat-icon>face</mat-icon>
			Henk
		</button>
		<button mat-stroked-button>
			<mat-icon>open_in_new</mat-icon>
			View property
		</button>
	</mat-card-actions>
</mat-card>