<div class="filters-header">
	<h2>General filters</h2>

	<button aria-label="Use my pre-defined filters" mat-icon-button matTooltip="Use my pre-defined filters">
		<mat-icon>auto_awesome</mat-icon>
	</button>

	<button aria-label="Reset all filters" mat-icon-button matTooltip="Reset all filters">
		<mat-icon>filter_alt_off</mat-icon>
	</button>
</div>

<mat-accordion displayMode="flat">
	<mat-expansion-panel id="filter-property-type">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()"
					[disabled]="allCheckboxesUnselected(propertyTypeFG)" color="primary"></mat-slide-toggle>
				Property type
			</mat-panel-title>
			<mat-panel-description>{{ countEnabledCheckboxes(propertyTypeFG) }}</mat-panel-description>
		</mat-expansion-panel-header>
		<div [formGroup]="propertyTypeFG" class="filters-horizontal">
			<section>
				<mat-checkbox *ngFor="let property of propertyTypes"
					[formControlName]="property.key">{{ property.label }}</mat-checkbox>
			</section>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-rent">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()"
					[disabled]="!(rent.min && rent.max)" color="primary"></mat-slide-toggle>
				Rent per month
			</mat-panel-title>
			<mat-panel-description *ngIf="rent.min || rent.max">€{{rent.min}}-{{rent.max}}</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="filters-horizontal">
			<section class="filters-slider">
				<mat-slider [max]="rent.limitMax" [min]="rent.limitMin" [step]="rent.step">
					<input (input)="updatePanel(rent)" [(ngModel)]="rent.min"
						matSliderStartThumb name="minRent"/>
					<input (input)="updatePanel(rent)" [(ngModel)]="rent.max"
						matSliderEndThumb name="maxRent"/>
				</mat-slider>
			</section>

			<section class="filters-numbers">
				<mat-form-field>
					<mat-label>Min</mat-label>
					<input (input)="updatePanel(rent)" [(ngModel)]="rent.min" [max]="rent.limitMax"
						[min]="rent.limitMin" [step]="rent.step" matInput name="minRent" type="number"/>
					<span matTextPrefix>€&nbsp;</span>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Max</mat-label>
					<input (input)="updatePanel(rent)" [(ngModel)]="rent.max" [max]="rent.limitMax"
						[min]="rent.limitMin" [step]="rent.step" matInput name="maxRent" type="number"/>
					<span matTextPrefix>€&nbsp;</span>
				</mat-form-field>
			</section>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-surface">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()"
					[disabled]="!(surface.min && surface.max)" color="primary"></mat-slide-toggle>
				Surface
			</mat-panel-title>
			<mat-panel-description *ngIf="surface.min || surface.max">{{surface.min}}-{{surface.max}}M²
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="filters-horizontal">
			<section class="filters-slider">
				<mat-slider [max]="surface.limitMax" [min]="surface.limitMin" [step]="surface.step">
					<input (input)="updatePanel(surface)" [(ngModel)]="surface.min"
						[class.hidden]="!surface.min && surface.max === null" matSliderStartThumb name="minSurface"/>
					<input (input)="updatePanel(surface)" [(ngModel)]="surface.max"
						matSliderEndThumb name="maxSurface"/>
				</mat-slider>
			</section>

			<section class="filters-numbers">
				<mat-form-field>
					<mat-label>Min</mat-label>
					<input (input)="updatePanel(surface)" [(ngModel)]="surface.min"
						[min]="surface.limitMin" [step]="surface.step" matInput name="minSurface" required
						type="number"/>
					<span matTextSuffix>&nbsp;M²</span>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Max</mat-label>
					<input (input)="updatePanel(surface)" [(ngModel)]="surface.max" [max]="surface.limitMax"
						[min]="surface.limitMin" [step]="surface.step" matInput name="maxSurface" required
						type="number"/>
					<span matTextSuffix>&nbsp;M²</span>
				</mat-form-field>
			</section>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-city">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()" [disabled]="cities.length === 0"
					color="primary"></mat-slide-toggle>
				City or postal code
			</mat-panel-title>
			<mat-panel-description [matTooltip]="cities.join(', ')">{{ countNumberOfCities() }}</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-form-field class="full-width" floatLabel="always">
			<mat-label>Show properties in city</mat-label>
			<mat-chip-grid #chipGrid aria-label="City selection">
				<mat-chip-row (removed)="removeCity(city)" *ngFor="let city of cities">
					{{city}}
					<button [attr.aria-label]="'removeCity ' + city" matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
			</mat-chip-grid>
			<input #cityInput [formControl]="citiesFormControl" [matAutocomplete]="auto" [matChipInputFor]="chipGrid"
				[matChipInputSeparatorKeyCodes]="separatorKeysCodes" placeholder="Enter city name..."/>
			<mat-hint *ngIf="cities.length !== 0">{{ countNumberOfCities() }} selected</mat-hint>
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCity($event)" autoActiveFirstOption>
				<mat-option *ngFor="let city of filteredCities | async | slice:0:5" [value]="city">
					{{city}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-rooms">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()" color="primary"></mat-slide-toggle>
				Rooms
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="filters-horizontal">
			<section *ngFor="let room of rooms">
				<span>{{ room.name }}</span>
				<mat-button-toggle-group [name]="room.controlName" multiple>
					<mat-button-toggle *ngFor="let option of room.options" [formControl]="option.formControl"
						[value]="option.value">
						<mat-icon>{{ option.icon }}</mat-icon>
						{{ option.label }}
					</mat-button-toggle>
				</mat-button-toggle-group>
			</section>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-facilities-rules">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()"
					[disabled]="allCheckboxesUnselected(facilitiesRulesFG)" color="primary"></mat-slide-toggle>
				Facilities and rules
			</mat-panel-title>
			<mat-panel-description>{{ countEnabledCheckboxes(facilitiesRulesFG) }}</mat-panel-description>
		</mat-expansion-panel-header>
		<div [formGroup]="facilitiesRulesFG" class="filters-horizontal">
			<section>
				<mat-checkbox *ngFor="let facilityRule of facilitiesRules"
					[formControlName]="facilityRule.key">{{ facilityRule.label }}</mat-checkbox>
			</section>
		</div>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-energy-label">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()" [disabled]="selectedLabels.length === 0"
					color="primary"></mat-slide-toggle>
				Energy label
			</mat-panel-title>
			<mat-panel-description>
				{{ selectedLabels.sort().join(', ') }}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-button-toggle-group [(ngModel)]="selectedLabels" multiple name="energyLabel">
			<mat-button-toggle *ngFor="let label of energyLabels" [value]="label">{{ label }}</mat-button-toggle>
		</mat-button-toggle-group>
	</mat-expansion-panel>

	<mat-expansion-panel id="filter-rentable-period">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-slide-toggle (click)="$event.stopPropagation()" color="primary"></mat-slide-toggle>
				Rentable period
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-form-field class="full-width">
			<input [matDatepicker]="picker" matInput placeholder="Choose a date range">
			<mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</mat-expansion-panel>
</mat-accordion>