mat-expansion-panel {
	border-radius: 0;
}

.filters-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 24px;
}

.filters-horizontal p, .filters-types {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.filters-horizontal p, .filters-types {
	align-items: flex-start;
	flex-direction: column;
}

.filters-horizontal p, .filters-horizontal section {
	gap: 16px;
}

.filters-facilities p, .filters-horizontal section {
	flex-direction: row;
	padding: 8px 0;
}

.filters-horizontal section:last-child {
	padding: 0;
}

.filters-numbers {
	display: flex;
	gap: 16px;
	max-width: 300px;
}

.filters-numbers mat-form-field {
	width: auto;
}

h2 {
	flex: 3;
	margin: 0;
}

mat-slider {
	width: calc(100% - 20px);
}