.mat-expanded mat-panel-description {
	display: none;
}

.mat-expansion-panel-header {
	padding: 0 12px;
}

.mat-expansion-panel-header-title {
	flex-grow: 4;
}

mat-panel-title mat-slide-toggle {
	zoom: 0.8;
}

.filters-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
	padding-top: 12px;
}

.filters-header:first-of-type {
	padding-top: 0;
}

h2 {
	flex: 3;
	margin: 0;
}

.filters-horizontal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
}

section {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

section.filters-numbers {
	gap: 16px;
	flex-direction: row;
	max-width: 290px;
}

section.filters-numbers mat-form-field {
	width: auto;
}

mat-slide-toggle {
	padding: 0 8px;
}

mat-slider {
	width: calc(100% - 20px);
}

.full-width {
	width: 100%;
}

.apply-changes {
	margin-top: 12px;
	width: 100%;
}