<ng-template #progress>
	<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

	<div class="error">
		<button *ngIf="!loading" color="warn" mat-flat-button>
			<mat-icon>warning</mat-icon>
			An error occured
		</button>
	</div>
</ng-template>

<div *ngIf="details | async as detail; else progress" class="page-details">
	<div class="details-header">
		<button mat-stroked-button>
			<mat-icon>navigate_before</mat-icon>
			Back to overview
		</button>

		<h1>{{detail.property_name}}, {{detail.property_postal_code}} {{detail.property_city}}</h1>

		<button class="date-published" disabled mat-button>
			Published on {{detail.property_date_published}}
		</button>

		<div class="spacer"></div>

		<button mat-stroked-button>
			<mat-icon>share</mat-icon>
			Share
		</button>

		<button mat-stroked-button>
			<mat-icon>chat</mat-icon>
			Open chat
		</button>
	</div>

	<div class="pane">
		<div class="toc">
			<h2>Navigate to...</h2>

			<button (click)="navigateToAnchor('detail')" mat-stroked-button>Details</button>
			<button (click)="navigateToAnchor('description')" mat-stroked-button>Description</button>
			<button (click)="navigateToAnchor('match')" mat-stroked-button>Looking for</button>
			<button (click)="navigateToAnchor('in-this-area')" mat-stroked-button>In this area</button>
			<button (click)="navigateToAnchor('nearby-properties')" mat-stroked-button>Nearby properties</button>
		</div>
	</div>

	<div class="content">
		<div class="details-page">
			<mat-card id="detail">
				<div class="card-header">
					<mat-card-title>Property detail</mat-card-title>
				</div>
				<mat-divider></mat-divider>
				<div class="property-details">
					<div class="details-list">
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>event_available</mat-icon></button></span>
							<span class="details-label">Rentable period:</span>
							<span class="details-content"></span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>maps_home_work</mat-icon></button></span>
							<span class="details-label">Type:</span>
							<span class="details-content">{{detail.property_type}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>payments</mat-icon></button></span>
							<span class="details-label">Rent:</span>
							<span class="details-content">€{{detail.property_rent}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>savings</mat-icon></button></span>
							<span class="details-label">Savings:</span>
							<span class="details-content">€</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>price_change</mat-icon></button></span>
							<span class="details-label">Additional costs:</span>
							<span class="details-content">€</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>how_to_reg</mat-icon></button></span>
							<span class="details-label">Registration costs:</span>
							<span class="details-content">€</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>handyman</mat-icon></button></span>
							<span class="details-label">Utilities included:</span>
							<span class="details-content">{{detail.property_rent_incl ? 'yes' : 'no' }}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>energy_savings_leaf</mat-icon></button></span>
							<span class="details-label">Energy label:</span>
							<span class="details-content">{{detail.property_details_energy_label}}</span>
						</div>
					</div>
					<mat-divider [vertical]="true"></mat-divider>
					<div class="details-list">
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>grid_on</mat-icon></button></span>
							<span class="details-label">Surface:</span>
							<span class="details-content">{{detail.property_sqm}} M²</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>chair</mat-icon></button></span>
							<span class="details-label">Furnished:</span>
							<span class="details-content">{{detail.property_details_furnished ? 'yes' : 'no'}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>wifi</mat-icon></button></span>
							<span class="details-label">Internet:</span>
							<span class="details-content">{{detail.property_details_internet ? 'own' : 'shared'}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>dining</mat-icon></button></span>
							<span class="details-label">Kitchen:</span>
							<span
								class="details-content">{{detail.property_details_own_kitchen ? 'own' : 'shared'}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>bathroom</mat-icon></button></span>
							<span class="details-label">Bathroom:</span>
							<span
								class="details-content">{{detail.property_details_own_bathroom ? 'own' : 'shared'}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>living</mat-icon></button></span>
							<span class="details-label">Living:</span>
							<span class="details-content"></span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>pets</mat-icon></button></span>
							<span class="details-label">Pets allowed:</span>
							<span
								class="details-content">{{detail.property_details_pets_allowed ? 'allowed' : 'not allowed'}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>smoking_rooms</mat-icon></button></span>
							<span class="details-label">Smoking inside:</span>
							<span
								class="details-content">{{detail.property_details_smoking_allowed ? 'allowed' : 'not allowed'}}</span>
						</div>
					</div>
				</div>
			</mat-card>
			<mat-card class="image-container">
				<img alt="Photo of a Shiba Inu" mat-card-image
					[src]="detail.property_img">
			</mat-card>
			<mat-card id="description">
				<div class="card-header">
					<mat-card-title>Property description</mat-card-title>
				</div>
				<mat-divider></mat-divider>
				<p class="property-description">
					{{detail.property_details_description}}
				</p>
			</mat-card>
			<mat-card id="match">
				<div class="card-header">
					<mat-card-title>Looking for...</mat-card-title>
				</div>
				<mat-divider></mat-divider>
				<div class="property-details">
					<div class="details-list">
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>groups</mat-icon></button></span>
							<span class="details-label">Number of people:</span>
							<span class="details-content">{{detail.property_details_roommates}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>transgender</mat-icon></button></span>
							<span class="details-label">Gender:</span>
							<span class="details-content">{{detail.property_match_gender}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>date_range</mat-icon></button></span>
							<span class="details-label">Age:</span>
							<span class="details-content">{{detail.property_match_age_min}}
								- {{detail.property_match_age_max}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>business_center</mat-icon></button></span>
							<span class="details-label">Daytime activity:</span>
							<span class="details-content">{{detail.property_match_match_status}}</span>
						</div>
						<div class="details-item">
							<span class="details-icon"><button disabled mat-icon-button><mat-icon>language</mat-icon></button></span>
							<span class="details-label">Language:</span>
							<span class="details-content"></span>
						</div>
					</div>
				</div>
			</mat-card>
			<mat-card id="nearby-properties">
				<div class="card-header">
					<mat-card-title>Other nearby properties</mat-card-title>
				</div>
				<mat-divider></mat-divider>
				<mat-card-actions align="end">
					<button mat-stroked-button routerLink="/detail">
						<mat-icon>place</mat-icon>
						Show other nearby properties
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
	<button class="hidden" color="primary" mat-mini-fab matTooltip="Hidden">
		<mat-icon>menu</mat-icon>
	</button>
</div>