<div class="details">
	<div class="details-header">
		<button mat-stroked-button>
			<mat-icon>navigate_before</mat-icon>
			Back to overview
		</button>

		<h1>Laan Corpus den Hoorn 106, Groningen</h1>

		<button mat-stroked-button>
			<mat-icon>share</mat-icon>
			Share property
		</button>

		<button mat-stroked-button>
			<mat-icon>chat</mat-icon>
			Open chat
		</button>
	</div>

	<div class="details-page">
		<mat-card>
			<div class="card-header">
				<mat-card-title>Property details</mat-card-title>
			</div>
			<mat-divider></mat-divider>
			<div class="property-details">
				<div class="details-list">
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>payments</mat-icon></button></span>
						<span class="details-label">Rent:</span><span class="details-content">€1500</span>
					</div>
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>savings</mat-icon></button></span>
						<span class="details-label">Savings:</span><span class="details-content">€1500</span>
					</div>
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>handyman</mat-icon></button></span>
						<span class="details-label">Utilities included:</span><span class="details-content">yes</span>
					</div>
				</div>
				<mat-divider [vertical]="true"></mat-divider>
				<div class="details-list">
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>event_available</mat-icon></button></span>
						<span class="details-label">Rentable period:</span><span class="details-content"> 01-01-2024 - 01-01-2025</span>
					</div>
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>grid_on</mat-icon></button></span>
						<span class="details-label">Surface:</span><span class="details-content"> 100M²</span>
					</div>
					<div class="details-item">
						<span class="details-icon"><button disabled mat-icon-button><mat-icon>maps_home_work</mat-icon></button></span>
						<span class="details-label">Type:</span><span class="details-content"> studio</span>
					</div>
				</div>
			</div>
		</mat-card>
		<mat-card>
			<div class="card-header">
				<mat-card-title>Images</mat-card-title>
			</div>
			<mat-divider></mat-divider>
			<div class="property-images">
				<div class="image">
					<img alt="Photo of a Shiba Inu" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
				</div>
				<div class="image">
					<img alt="Photo of a Shiba Inu" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
				</div>
				<div class="image">
					<img alt="Photo of a Shiba Inu" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
				</div>
			</div>
			<mat-divider></mat-divider>
			<mat-card-actions align="end">
				<button disabled mat-stroked-button>
					<mat-icon>photo_library</mat-icon>
					View all images
				</button>
			</mat-card-actions>
		</mat-card>
		<mat-card>
			<div class="card-header">
				<mat-card-title>Property description</mat-card-title>
			</div>
			<mat-divider></mat-divider>
			<p class="property-description">
				Are you a student looking for an ideal place to call home during your academic journey? Look no further!
				We have an exciting opportunity for you—an available room in a student house that offers the perfect
				blend of comfort, convenience, and a lively atmosphere. This 500-word text will provide you with a
				detailed description of the room and its surroundings, enticing you to become part of this vibrant
				community. <br/><br/> Located in a lively neighborhood just a stone's throw away from the university
				campus, this student house presents an inviting and spacious room that caters to all your needs. As you
				step inside, you'll be greeted by an atmosphere of warmth and camaraderie. The room is tastefully
				furnished with a comfortable bed, a study desk, ample storage space, and a cozy reading corner where you
				can relax and unwind after a long day of classes. <br/><br/> The large windows fill the room with
				natural light, creating a pleasant and inviting ambiance. The walls are adorned with inspiring posters
				and artwork, fostering a creative and motivating environment. High-speed internet connectivity is
				readily available, ensuring you stay connected with your studies and enjoy seamless browsing. <br/><br/>
				The room is part of a larger student house, which means you'll have the opportunity to meet and interact
				with fellow students from diverse backgrounds. The common areas, including the living room and kitchen,
				are spacious and well-equipped. They serve as the heart of the house, where friendships are forged,
				ideas are exchanged, and memories are made. The fully-equipped kitchen allows you to prepare delicious
				meals and share them with your housemates, fostering a sense of community and togetherness. <br/><br/>
				Moreover, the student house offers a range of amenities to enhance your living experience. A dedicated
				laundry room equipped with modern appliances ensures you have the convenience of doing your laundry
				without leaving the house. The house also boasts a cozy backyard, perfect for social gatherings, BBQs,
				and outdoor study sessions during pleasant weather. <br/><br/> Location is key when it comes to choosing
				accommodation, and this student house excels in that regard. It is strategically situated within walking
				distance of the university campus, making your daily commute a breeze. Additionally, the neighborhood is
				well-connected with public transportation, providing easy access to the city center, shopping centers,
				and recreational facilities. You'll find a wide array of restaurants, cafes, and shops in close
				proximity, catering to all your needs. <br/><br/> Security and comfort are paramount, and this student
				house prioritizes both. The premises are equipped with modern security systems, ensuring your safety and
				peace of mind. The house is well-maintained, and a dedicated team of caretakers is readily available to
				address any concerns or maintenance issues promptly. <br/><br/> If you're searching for an exceptional
				living arrangement during your academic journey, the available room in this student house is an ideal
				choice. With its spacious and cozy ambiance, vibrant community, convenient location, and range of
				amenities, it offers an unforgettable experience that goes beyond mere accommodation. Don't miss out on
				this opportunity to create lasting memories and forge lifelong friendships. Contact us now to secure
				your place in this dynamic student house!
			</p>
		</mat-card>
		<mat-card>
			<div class="card-header">
				<mat-card-title>Looking for...</mat-card-title>
			</div>
			<mat-divider></mat-divider>
		</mat-card>
		<mat-card>
			<div class="card-header">
				<mat-card-title>In this area</mat-card-title>
			</div>
			<mat-divider></mat-divider>
			<div class="in-this-area">
				<div [leafletOptions]="options" id="map" leaflet></div>
				<mat-nav-list>
					<mat-list-item *ngFor="let property of nearbyLocations">
						<mat-icon matListItemIcon>{{property.icon}}</mat-icon>
						<span matListItemTitle>{{property.label}}</span>
						<span *ngIf="property.label !== 'Property'" matListItemLine>{{ calculateDistanceToProperty(property) }}
							m away</span>
						<span *ngIf="property.label === 'Property'" matListItemLine>Click to locate</span>
					</mat-list-item>
					<mat-list-item>
						<mat-icon matListItemIcon>my_location</mat-icon>
						<span matListItemTitle>Current location</span> <span>m away</span> <span></span>
					</mat-list-item>
				</mat-nav-list>
			</div>
		</mat-card>
		<mat-card>
			<div class="card-header">
				<mat-card-title>Other nearby properties</mat-card-title>
			</div>
			<mat-divider></mat-divider>
			<mat-card-actions align="end">
				<button mat-stroked-button routerLink="/detail">
					<mat-icon>place</mat-icon>
					Show other nearby properties
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<div class="details-header">
		<button mat-stroked-button>
			<mat-icon>navigate_before</mat-icon>
			Back to overview
		</button>

		<div class="spacer"></div>

		<button mat-stroked-button>
			<mat-icon>share</mat-icon>
			Share property
		</button>

		<button mat-stroked-button>
			<mat-icon>chat</mat-icon>
			Open chat
		</button>
	</div>
</div>
<button class="hidden" color="primary" mat-mini-fab matTooltip="Hidden">
	<mat-icon>menu</mat-icon>
</button>