* {
	scroll-behavior: smooth;
}

body {
	background: #FAFAFA;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

html, body {
	height: 100%;
}

.app {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
}

app-menu {
	order: 1;
	flex: 0 1 100%;
}

app-root {
	order: 2;
	flex: 0 1 100%;
	min-height: calc(100% - 128px);
	overflow: hidden;
}

app-footer {
	order: 3;
	flex: 0 1 100%;
}

.inbox-popup {
	max-width: 400px !important;
}

.spacer {
	flex: 1 1 auto;
}

.leaflet-marker-icon button {
	cursor: help !important;
}

.mdc-list {
	padding: 0 !important;
}

.leaflet-control-attribution {
	display: none;
}

.hidden {
	display: none !important;
}