* {
	scroll-behavior: smooth;
}

body {
	background: #FAFAFA;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
	display: flex;
	flex-direction: column;
}

html, body {
	min-height: 100vh;
}

app-root {
	min-height: 100%;
}

app-footer {
	margin-top: auto;
}

.inbox-popup {
	max-width: 400px !important;
}

.spacer {
	flex: 1 1 auto;
}

.leaflet-marker-icon button {
	cursor: help !important;
}

.mdc-list {
	padding: 0 !important;
}

.leaflet-control-attribution {
	display: none;
}

.hidden {
	display: none !important;
}