* {
	scroll-behavior: smooth;
}

body {
	background: #FAFAFA;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;
}

html, body {
	height: calc(100vh - 64px);
}

.inbox-popup {
	max-width: 400px !important;
}

.spacer {
	flex: 1 1 auto;
}

.leaflet-marker-icon button {
	cursor: help !important;
}

.mdc-list {
	padding: 0 !important;
}

.leaflet-control-attribution {
	display: none;
}