mat-drawer-container {
	min-height: calc(100% - 64px);
}

mat-drawer {
	min-width: 340px;
}

.properties-header {
	align-items: baseline;
	display: flex;
	gap: 24px;
	justify-content: space-between;
	padding: 24px;
}

h1 {
	flex: 3;
	margin: 0;
}