<div class="page-search">

	<div class="sidebar">
		<app-filters></app-filters>
	</div>

	<div class="content">
		<div class="search-header">
			<h1>Search results</h1>

			<mat-form-field>
				<mat-label>Sort on...</mat-label>
				<mat-select (ngModelChange)="onSortChange()" [(ngModel)]="selectedSort">
					<mat-option *ngFor="let sort of filters" [value]="sort.value">
						{{ sort.label }}
					</mat-option>
				</mat-select>
				<button (click)="toggleIcon($event)" [matTooltip]="direction" mat-icon-button matSuffix>
					<mat-icon>{{direction === 'Ascending' ? 'south' : 'north'}}</mat-icon>
				</button>
			</mat-form-field>

			<mat-button-toggle-group aria-label="Select view mode" name="viewToggle">
				<mat-button-toggle routerLink="/search/list" routerLinkActive="mat-button-toggle-checked">
					<mat-icon>apps</mat-icon>
					Grid view
				</mat-button-toggle>
				<mat-button-toggle routerLink="/search/map" routerLinkActive="mat-button-toggle-checked">
					<mat-icon>map</mat-icon>
					Map view
				</mat-button-toggle>
			</mat-button-toggle-group>
		</div>

		<router-outlet></router-outlet>
	</div>
</div>