.page-search {
	display: flex;
	gap: 16px;
	margin: 16px;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: stretch;
}

.search-header {
	align-items: baseline;
	display: flex;
	gap: 24px;
	justify-content: space-between;
}

.content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 24px;
}

h1 {
	flex: 3;
	margin: 0;
}

router-outlet {
	display: none;
}